body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.birdAttr {
  background-color: aquamarine;
  width: 120px;
 }
 .birdAttr1 {
  background-color: blue;
  width: 120px;
 }
 .birdAttr2 {
  background-color: green;
  width: 120px;
 }

